mods/
plugins/
logs/
crash-reports/
global-skin-database/
llibrary/
adverts/
armourersWorkshop/
libraries/
asm/
moreplayermodels/
banned-players.json
banned-ips.json
*.jar
world*
minetweaker.log
usercache.json
usernamecache.json
whitelist.json
ops.json
betterfps.txt
TimeUsage.txt
hidden.txt
MTUtilsData.nbt
config/paintedbiomes/templates/
