# Configuration file

welding_machine {
    I:"plateAdamantium;gt.integrated_circuit;_256"=256
    I:"plateBronze;gt.integrated_circuit;_256"=256
    I:"plateDenseAdamantium;gt.integrated_circuit;_512"=512
    I:"plateDenseBronze;gt.integrated_circuit;_512"=512
    I:"plateDenseInvar;gt.integrated_circuit;_512"=512
    I:"plateDenseLead;gt.integrated_circuit;_512"=512
    I:"plateDenseStainlessSteel;gt.integrated_circuit;_512"=512
    I:"plateDenseSteel;gt.integrated_circuit;_512"=512
    I:"plateDenseSteelGalvanized;gt.integrated_circuit;_512"=512
    I:"plateDenseTantalumHafniumCarbide;gt.integrated_circuit;_512"=512
    I:"plateDenseTitanium;gt.integrated_circuit;_512"=512
    I:"plateDenseTungsten;gt.integrated_circuit;_512"=512
    I:"plateDenseTungstensteel;gt.integrated_circuit;_512"=512
    I:"plateInvar;gt.integrated_circuit;_256"=256
    I:"plateLead;gt.integrated_circuit;_256"=256
    I:"plateStainlessSteel;gt.integrated_circuit;_256"=256
    I:"plateSteel;gt.integrated_circuit;_256"=256
    I:"plateSteelGalvanized;gt.integrated_circuit;_256"=256
    I:"plateTantalumHafniumCarbide;gt.integrated_circuit;_256"=256
    I:"plateTitanium;gt.integrated_circuit;_256"=256
    I:"plateTungsten;gt.integrated_circuit;_256"=256
    I:"plateTungstensteel;gt.integrated_circuit;_256"=256
}


